<meta charset="UTF-8">
<title>UI-Book</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:3000/lib/prismjs/prism.css">
<link rel="stylesheet" href="http://localhost:3000/styles/app.css">
<script src="http://localhost:3000/lib/prismjs/prism.js"></script>