<!DOCTYPE html>
<html>
<head>
    <%- include ../common/head.ejs %>
</head>
<body>
    <header>
        <%- include ../common/main-nav.ejs %>
    </header>
    <div class="container-fluid page">
        <div class="row">
            <%- include ../react/side-nav.ejs %>
            <main class="col-md-10">
                <h1>React forms</h1>
                <p>Forms Content</p>
            </main>
        </div>

    </div>
</body>
</html>