<!DOCTYPE html>
<html>
<head>
    <%- include ../common/head.ejs %>
</head>
<body>
    <header>
        <%- include ../common/main-nav.ejs %>
    </header>
    <div class="container-fluid page">
        <div class="row">
            <%- include ../react/side-nav.ejs %>
            <main class="col-md-10">
                <h1>Recompose</h1>
                <p>Documentation to read</p>
                <ul>
                    <li><a href="https://recompose.docsforhumans.com/methods.html" target="_blank">recompose.docsforhumans.com</a></li>
                </ul>
            </main>
        </div>

    </div>
</body>
</html>