<div>
    <h1>Forms / heading</h1>
                <p>Sample Content</p>
                <pre>
                    <code class="language-javascript">
                        import { Component, OnInit } from '@angular/core';

                        @Component({
                        selector: 'app-heroes',
                        templateUrl: './heroes.component.html',
                        styleUrls: ['./heroes.component.css']
                        })
                        export class HeroesComponent implements OnInit {

                        constructor() { }

                        ngOnInit() {
                        }

                        }
                    </code>
                </pre>
</div>