<!DOCTYPE html>
<html>
<head>
        <%- include ../common/head.ejs %>
</head>
<body>
    <header>
        <%- include ../common/main-nav.ejs %>
    </header>
    <div class="container-fluid page">
        <div class="row">
            <%- include ../ngrx/side-nav.ejs %>
            <main class="col-md-10">
                
                <h1>Good Reads links </h1>
                
                <section>
                   <ul>
                       <li><a href="https://brianflove.com/2018/01/08/ngrx-the-basics/" target="_blank">Angular + NgRx: The Basics</a></li>
                   </ul>
                </section>
            </main>
        </div>
    </div>
</body>

</html>