<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/ngrx">
                    Introduction </span>
                </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="/ngrx/concepts">
                        Redux Concepts
                    </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Effects
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Code Implementation flow
                </a>
            </li>
            <li>
                <a class="nav-link" href="/ngrx/reflinks">Good-Reads</a>
            </li>
        </ul>
    </div>
</nav>